@font-face{font-family:'Exo 2';font-weight:400;src:url('Exo2-400.ttf') format('truetype');}
@font-face{font-family:'Exo 2';font-weight:500;src:url('Exo2-500.ttf') format('truetype');}
@font-face{font-family:'Exo 2';font-weight:700;src:url('Exo2-700.ttf') format('truetype');}
@font-face{font-family:'Rubik';font-weight:400;src:url('Rubik-400.ttf') format('truetype');}
@font-face{font-family:'Rubik';font-weight:500;src:url('Rubik-500.ttf') format('truetype');}
@font-face{font-family:'Rubik';font-weight:600;src:url('Rubik-600.ttf') format('truetype');}
