@font-face{font-family:'Instrument Serif';font-style:italic;font-weight:400;src:url('../fonts/InstrumentSerif-400i.ttf')}
@font-face{font-family:'Instrument Serif';font-style:normal;font-weight:400;src:url('../fonts/InstrumentSerif-400.ttf')}
@font-face{font-family:'Inter Tight';font-style:normal;font-weight:300;src:url('../fonts/InterTight-300.ttf')}
@font-face{font-family:'Inter Tight';font-style:normal;font-weight:400;src:url('../fonts/InterTight-400.ttf')}
@font-face{font-family:'Inter Tight';font-style:normal;font-weight:500;src:url('../fonts/InterTight-500.ttf')}
@font-face{font-family:'Inter Tight';font-style:normal;font-weight:600;src:url('../fonts/InterTight-600.ttf')}
